<!DOCTYPE html>
<html lang="pt"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head></head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <h1>About</h1>
            <p>
                Lorem ipsum dolor sit amet, eu in mollis morbi nunc nulla
                metus, ipsum etiam dictum natoque nec eleifend. Congue nec porttitor,
                ullamcorper neque eu posuere tristique arcu, feugiat magna quam
                tristique nonummy diam torquent, venenatis ut, fugit suspendisse quis
                nec.
            </p>
        </div>
    </div>
</section>
</body>
</html>