<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head></head>
<body>
<section layout:fragment="content">
    <form class="form-horizontal" action="#" th:action="@{/bookmarks/create}" th:object="${bookmark}" method="POST">
        <div layout:insert="fragments/view-menu :: actions(
                isUpdateMode=${bookmark.id != null},
                backAction=@{/bookmarks},
                updateAction=@{/bookmarks/{id}/edit(id=${bookmark.id})},
                createAction=@{/bookmarks/create},
                deleteAction=@{/bookmarks/{id}/delete(id=${bookmark.id})})">
            <div layout:fragment="additionalActions"></div>
        </div>
        <div layout:insert="fragments/view-body :: header(description='Bookmark')">
            <div layout:fragment="viewContent">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{created}"/>
                <input type="hidden" th:field="*{updated}"/>
                <input type="hidden" th:field="*{version}"/>
                <div class="column">
                    <label for="description">Descrição *</label>
                    <input type="text" class="form-control input-sm" id="description"
                           th:field="*{description}" placeholder="Descrição"/>
                </div>
                <div class="column" style="margin-top: 10px">
                    <label for="link">Link *</label>
                    <input type="text" class="form-control input-sm" id="link" th:field="*{link}" placeholder="Link"/>
                </div>
                <div class="column" style="margin-top: 10px; margin-bottom: 10px">
                    <label for="category">Categoria *</label>
                    <select id="category" class="selectOneMenu form-control input-sm"
                            data-live-search="true" th:field="*{category}">
                        <option th:value="${null}">Selecione...</option>
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>