<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head></head>
<body>
<section layout:fragment="content">
    <div layout:insert="~{fragments/list-menu :: actions(
            createAction=@{/bookmarks/create},
            editAction=@{/bookmarks})}">
        <div layout:fragment="additionalActions"></div>
    </div>
    <div layout:insert="~{fragments/list-datatable :: header(description='Bookmarks')}">
        <div layout:fragment="dataList">
            <table id="dataList" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th style="text-align: center; width: 50px; min-width: 50px">Ações</th>
                    <th>Descrição</th>
                    <th>Link</th>
                    <th>Categoria</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bookmark : ${bookmarks}">
                    <td align="center">
                        <div layout:insert="~{fragments/list-datatable-actions :: actions(
                            itemId=${bookmark.id},
                            editAction=@{/bookmarks/{id}/edit(id=${bookmark.id})},
                            deleteAction=@{/bookmarks/{id}/delete(id=${bookmark.id})})}">
                        </div>
                    </td>
                    <td><a th:href="@{/bookmarks/{id}/edit(id=${bookmark.id})}" th:text="${bookmark.description}"></a></td>
                    <td th:text="${bookmark.link}"></td>
                    <td th:text="${bookmark.category.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>