<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookmark</title>
</head>
<body>
<div layout:fragment="content">
    <div class="btn-group" role="group" style="padding-bottom: 5px">
        <a class="btn btn-primary btn-md" th:href="@{/categories/create}">
            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
            Adicionar Novo
        </a>
        <a class="btn btn-default btn-md" th:href="@{/categories}">
            <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
            Atualizar Listagem
        </a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Categorias</div>
        <div class="panel-body">
            <table id="categoryList" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th align="center" style="width: 45px; min-width: 45px">Editar</th>
                    <th align="center" style="width: 45px; min-width: 45px">Excluir</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.name}"></td>
                    <td align="center">
                        <div class="btn-group">
                            <a class="btn btn-primary btn-xs" th:href="@{/categories/{id}/edit(id=${category.id})}">
                                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                Editar
                            </a>
                        </div>
                    </td>
                    <td align="center">
                        <div th:id="'deleteConfirmationModal' + ${category.id}" id="deleteConfirmationModal"
                             class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title" th:align="left">Exclusão de Registro</h4>
                                    </div>
                                    <div class="modal-body" th:align="left">
                                        <p>Tem certeza que deseja excluir o registro?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                                        <a class="btn btn-danger"
                                           th:href="@{/categories/{id}/delete(id=${category.id})}">Excluir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-danger btn-xs" data-toggle="modal"
                           th:attr="data-target='#deleteConfirmationModal' + ${category.id}">
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                            Excluir
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/category-list.js}"></script>
</div>
</body>
</html>
