<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title>Bookmark</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="Home"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.16/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-select/1.12.4/css/bootstrap-select.min.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables/1.10.16/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-select/1.12.4/js/bootstrap-select.min.js}"></script>
</head>
<body></body>
</html>