<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head></head>
<body>
<section layout:fragment="content">
    <form class="form-horizontal" action="#" th:action="@{/categories/create}" th:object="${category}" method="POST">
        <div layout:insert="fragments/view-menu :: actions(
                isUpdateMode=${category.id != null},
                backAction=@{/categories},
                updateAction=@{/categories/{id}/edit(id=${category.id})},
                createAction=@{/categories/create},
                deleteAction=@{/categories/{id}/delete(id=${category.id})})">
            <div layout:fragment="additionalActions"></div>
        </div>
        <div layout:insert="fragments/view-body :: header(description='Categoria')">
            <div layout:fragment="viewContent">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{created}"/>
                <input type="hidden" th:field="*{updated}"/>
                <input type="hidden" th:field="*{version}"/>
                <div class="column">
                    <label for="name">Nome *</label>
                    <input type="text" class="form-control input-sm" id="name" th:field="*{name}" placeholder="Nome"/>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>