<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head></head>
<body>
<section layout:fragment="content">
    <div layout:insert="~{fragments/list-menu :: actions(
            createAction=@{/categories/create},
            editAction=@{/categories})}">
        <div layout:fragment="additionalActions"></div>
    </div>
    <div layout:insert="~{fragments/list-datatable :: header(description='Categorias')}">
        <div layout:fragment="dataList">
            <table id="dataList" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th style="text-align: center; width: 50px; min-width: 50px">Ações</th>
                    <th>Nome</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td align="center">
                        <div layout:insert="~{fragments/list-datatable-actions :: actions(
                            itemId=${category.id},
                            editAction=@{/categories/{id}/edit(id=${category.id})},
                            deleteAction=@{/categories/{id}/delete(id=${category.id})})}">
                        </div>
                    </td>
                    <td><a th:href="@{/categories/{id}/edit(id=${category.id})}" th:text="${category.name}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>