<!DOCTYPE html>
<html lang="pt"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head></head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <h1>Aplicação de Exemplo Bookmark</h1>
            <p>
                Bem-vindo a aplicação de exemplo Bookmark.
                Este é seu ponto de partida, portanto sinta-se a vontade para modificar esta aplicação.
            </p>
        </div>
    </div>
</section>
</body>
</html>