<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head></head>
<body>
<section layout:fragment="content" sec:authorize="hasRole('ROLE_ADMIN')">
    <form class="form-horizontal" action="#" th:action="@{/roles/create}" th:object="${role}" method="POST">
        <div layout:insert="fragments/view-menu :: actions(
                isUpdateMode=${role.id != null},
                backAction=@{/roles},
                updateAction=@{/roles/{id}/edit(id=${role.id})},
                createAction=@{/roles/create},
                deleteAction=@{/roles/{id}/delete(id=${role.id})})">
            <div layout:fragment="additionalActions"></div>
        </div>
        <div layout:insert="fragments/view-body :: header(description='Perfil')">
            <div layout:fragment="viewContent">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{created}"/>
                <input type="hidden" th:field="*{updated}"/>
                <input type="hidden" th:field="*{version}"/>
                <div class="column">
                    <label for="name">Nome *</label>
                    <input type="text" class="form-control input-sm" id="name" th:field="*{name}"
                           onblur="value = value.toUpperCase()" placeholder="Nome"/>
                </div>
                <div class="column" style="margin-top: 10px">
                    <label for="description">Descrição *</label>
                    <input type="text" class="form-control input-sm" id="description" th:field="*{description}"
                           placeholder="Descrição"/>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>