<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head></head>
<body>
<section layout:fragment="content" sec:authorize="hasRole('ROLE_ADMIN')">
    <div layout:insert="~{fragments/list-menu :: actions(
            createAction=@{/users/create},
            editAction=@{/users})}">
        <div layout:fragment="additionalActions"></div>
    </div>
    <div layout:insert="~{fragments/list-datatable :: header(description='Usuários')}">
        <div layout:fragment="dataList">
            <table id="dataList" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th style="text-align: center; width: 50px; min-width: 50px">Ações</th>
                    <th>Usuário</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Situação</th>
                    <th>Perfis</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td align="center">
                        <div layout:insert="~{fragments/list-datatable-actions :: actions(
                            itemId=${user.id},
                            editAction=@{/users/{id}/edit(id=${user.id})},
                            deleteAction=@{/users/{id}/delete(id=${user.id})})}">
                        </div>
                    </td>
                    <td><a th:href="@{/users/{id}/edit(id=${user.id})}" th:text="${user.username}"></a></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.status.description}"></td>
                    <td th:text="${user.rolesDescriptions}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>